<h1>Add an Encounter</h1>

<div class="error-message">
  <% if @encounter.errors.any? %>
      <strong>Error:</strong>
        <% @encounter.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
  <% end %>
</div>

<%= form_for [@patient, @encounter] do |f| %>

  <p>
    <%= f.label :visit_number %>
    <%= f.text_field :visit_number %>
  </p>

  <p>
    <%= f.label :admitted_at %>
    <%= f.datetime_local_field :admitted_at %>
  </p>

  <p>
    <%= f.label :discharged_at %>
    <%= f.datetime_local_field :discharged_at %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :room %>
    <%= f.text_field :room %>
  </p>

  <p>
    <%= f.label :bed %>
    <%= f.number_field :bed %>
  </p>

  <%= f.submit "Save new Encounter" %>
  <%= f.submit "Cancel" %>
<% end %>
