<h1>Update Patient Profile</h1>

<div class="error-message">
  <% if @patient.errors.any? %>
      <strong>Error:</strong>
        <% @patient.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
  <% end %>
</div>

<%= form_for(@patient) do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </p>

  <p>
    <%= f.label :height %>
    <%= f.number_field :height %>
  </p>

  <p>
    <%= f.label :mrn %>
    <%= f.text_field :mrn %>
  </p>

  <%= f.submit "Save" %>
  <%= f.submit "Cancel" %>
<% end %>
